[submodule "3rd/tinynet"]
	path = 3rd/tinynet
	url = https://github.com/bbbgan/tinynet.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/doctest"]
	path = 3rd/doctest
	url = https://github.com/doctest/doctest.git
